{% extends 'network/layout.html' %} {% block title %} **error** {% endblock title %} {% block body %}
<div class="row">
    <div class="col-12">
        {% if error_msg %}
        <div class="alert-danger mx-auto w-75 p-2 text-center">
            {{error_msg}} <br>
            <hr>
            <div class="alert-info mx-auto w-75 p-2 text-center">
                Redirecting to home page in <span style="border-radius: 50%;" class="bg-light p-3 display-4" id='counter_down'>5</span>
            </div>
        </div>
        {% endif %}
        <div class="progress active"></div>
    </div>
</div>
<script>
    setInterval(() => {

        value = Number($('#counter_down').text());
        if (value == 0) {
            return window.location = '/';
        };
        value -= 1;
        pvalue = 100 - ((value * 100) / 5);
        $('.progress').html(`
        <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: ${pvalue}%;"></div>
        `)
        $('#counter_down').text(value);
    }, 1000);
</script>
{% endblock body %}